upstream bucket-images {
    keepalive 64;
    server ${BUCKET_NAME}.${BUCKET_DOMAIN}:443;
}

proxy_cache_path /tmp levels=1:2 keys_zone=my_cache:10m max_size=5g 
                 inactive=60m use_temp_path=off;
                 