apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    app.kubernetes.io/version: 4.4.1
  generation: 1
  labels:
    app.kubernetes.io/component: devsite
  name: devsite
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: devsite
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        app.kubernetes.io/version: 4.4.1
      creationTimestamp: null
      labels:
        app.kubernetes.io/component: devsite
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/component: devsite
              topologyKey: kubernetes.io/hostname
            weight: 2
          - podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/component: devsite
              topologyKey: topology.kubernetes.io/zone
            weight: 2
      containers:
      - env:
        - name: ZENHUB_WEBAPP_ADDRESS
          valueFrom:
            configMapKeyRef:
              key: zenhub_webapp_address
              name: toad
        - name: GRAPHQL_URL
          value: $(ZENHUB_WEBAPP_ADDRESS)/public/graphql
        image: devsite
        imagePullPolicy: IfNotPresent
        lifecycle:
          postStart:
            exec:
              command:
              - /bin/sh
              - -c
              - sed -i "s#http://raptor-api-public/public/graphql#$GRAPHQL_URL#g"
                /usr/share/nginx/html/assets/js/*.js; sed -i "s#https://app.zenhub.com#$ZENHUB_WEBAPP_ADDRESS#g"
                /usr/share/nginx/html/assets/js/*.js
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthcheck.html
            port: http
            scheme: HTTP
          initialDelaySeconds: 40
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 3
        name: devsite
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthcheck.html
            port: http
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 3
        resources:
          limits:
            memory: 100M
          requests:
            cpu: 10m
            memory: 20M
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
